# Files
scripts/run_assoc.sh
scripts/run_inter.sh
**/.RData*

# Folders
scripts/stderr_run_crm*
# scripts/stderr_run_crm_assoc
# scripts/stdout_run_crm*
# scripts/stdout_run_crm_B
# scripts/stdout_run_crm_assoc
# scripts/stdout_run_crm_mono
# scripts/stderr_run_crm_mono
**/.ipynb_checkpoints/

